.navbar-brand {
	margin-right: auto;
}

.learn-from-the-pros {
    margin-top: 200px; /* Adjust this value as needed */
}

#button {
    margin-bottom: 150px; /* Adjust this value as needed */
}

.bg-img {
	display: flex;
	flex-direction: column;
	background: url('images/pic_1.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	padding: 0%;
	min-height: 100vh;
}

@media (max-width: 768px) {
	.navbar-nav {
		flex-direction: column;
		text-align: center;
		align-items: center;
		height: 100%;
	}

	.navbar-nav .nav-item {
		text-align: center;
		width: 100%;
	}

	.navbar-brand {
		margin: 0 auto;
		text-align: center;
	}

	.logo-stack {
		display: flex;
		flex-direction: column;
		align-items: center; /* Center horizontally */
	}

	.logo-stack img {
		margin-bottom: 5px; /* Adjust as needed */
	}
}